@using System.Data
@model DataTable
@{
    Layout = "~/Views/shared/_Layout.cshtml";
}

<div class="d-flex mt-3 mb-3">
    <h3>State List</h3>
</div>
<div class="table-header d-flex">
    <div class="add-button mr-auto">
        <a asp-area="LOC_State" asp-controller="LOC_State" asp-action="Add">
            <input type="button" class="btn btn-success" value="Add State" />
        </a>
    </div>
    <div class="search-field col-xl-4 ms-lg-auto d-flex">
        <div class="me-3">

            <form class="d-flex" method="get" asp-area="LOC_State" asp-controller="LOC_State" asp-action="LOC_StateSearchByName">
                <div class="form-group mb-3 row">
                    <label class="col-sm-2 control-label col-form-label">Country Name</label>
                    <div class="col-xl-4">
                        <select class="form-control" asp-for="CountryID" asp-items="@(new SelectList(ViewBag.CountryList,"CountryID","CountryName"))">
                            <option value="">Select Country</option>
                        </select>
                        <span asp-validation-for="CountryID" class="text-danger"></span>
                    </div>
                </div>
                <input class="form-control me-3" type="search" placeholder="Search" aria-label="Search" runat="server" name="StateName" />
                <div><button type="submit" class="btn btn-outline-success" value="Search" runat="server">Search</button></div>
            </form>
        </div>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th scope="col">StateID</th>
            <th scope="col">StateName</th>
            <th scope="col">StateCode</th>
            <th scope="col">CountryName</th>
            <th scope="col">Created</th>
            <th scope="col">Modified</th>
            <th scope="col" colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(DataRow dr in Model.Rows)
        {
            <tr>
                <td>@dr["StateID"]</td>
                <td>@dr["StateName"]</td>
                <td>@dr["StateCode"]</td>
                <td>@dr["CountryName"]</td>
                <td>@Convert.ToDateTime(dr["Created"]).ToString("dd-MM-yyyy")</td>
                <td>@Convert.ToDateTime(dr["Modified"]).ToString("dd-MM-yyyy")</td>
                <td>
                    <div class="d-flex">
                        <div class="me-2">
                            <form method="post" asp-area="LOC_State" asp-controller="LOC_State" asp-action="Delete">
                                <input type="hidden" value="@Convert.ToInt32(dr["StateID"])" name="StateID" />
                                <button type="submit" class="btn btn-danger" value="Delete">Delete</button>
                            </form>
                        </div>
                        <div class="ms-2">
                            <form asp-area="LOC_State" asp-controller="LOC_State" asp-action="Add">
                                <input type="hidden" value="@Convert.ToInt32(dr["StateID"])" name="StateID" />
                                <button type="submit" class="btn btn-info" value="Update">Update</button>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>